<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ site.name }}</title>
    {% seo title=false %}
    {% include meta.html %}

    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/style.css" />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
    <meta name="theme-color" content="#0F172A">
    {% include favicons.html %}
    {% include analytics_head.html %}
  </head>
  <body class="landing-page">
    <div id="bar"></div>
    {{ content }}
  </body>
</html>
